<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos/estilo.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="cabeza_izq"> 
            <img src="img/Screenshot 2024-08-21 142312.png" alt="Imagen izquierda">
        </div>
        <div class="cabeza_media">
            <h1>Club Atlético Nacional</h1>
        </div>
        <div class="cabeza_derecha"> 
            <img src="img/Screenshot 2024-08-21 142312.png" alt="Imagen derecha">
        </div>
    </header>

    <nav>
        <div class="naveg">
            <ul class="uls">
                <li><a class="links" href="#">Inicio</a></li>
                <li><a class="links" href="#">Abonados</a></li>
                <li><a class="links" href="#">Boleteria</a></li>
                <li><a class="links" href="#">Tienda</a></li>
            </ul>
        </div>
    </nav>
    <div class="contenido">
        <section>
            <h2> Copa Libertadores 2016 </h2>
            <img class="portada" src="img/Screenshot 2024-08-21 160519.png" alt="portada">
            <p>La Copa Libertadores 2016 fue ganada por el Club Atlético Nacional de Colombia, logrando así su segundo título en la historia del torneo, 
                el primero había sido en 1989. Atlético Nacional se destacó durante todo el torneo, demostrando un fútbol sólido y efectivo.
                El equipo, dirigido por Reinaldo Rueda, tuvo una actuación sobresaliente, terminando como líder de su grupo en la fase de grupos. En las fases eliminatorias,
                venció a equipos fuertes como Huracán de Argentina en octavos de final, Rosario Central en cuartos de final, y São Paulo en las semifinales.</p>
            <br>
            <p>
            La final de la Copa Libertadores 2016 se jugó entre Atlético Nacional de Colombia e Independiente del Valle de Ecuador. En el partido de ida en Quito,
            empataron 1-1 con goles de Orlando Berrío y Arturo Mina. En el partido de vuelta en Medellín, Nacional ganó 1-0 con gol de Miguel Borja, asegurando el título.
            Este triunfo consolidó a Atlético Nacional como uno de los equipos más destacados de Sudamérica.</p>
        </section>
        <aside style="display: flex; justify-content: space-between; padding: 20px; border: 1px solid #ccc;">
    
        <div style="width: 48%;">
        <h2>Camiseta de Local</h2>
        <img src="img/Screenshot 2024-08-21 164455.png" alt="Descripción de la imagen 1" style="width: 100%; height: auto;">
        <p>Color Principal: Verde y blanco.</p>
        <br>
        <p>Diseño: La camiseta tiene franjas verticales alternadas en verde y blanco.</p>
        <br>
        <br>
        <p>Detalles:El escudo del club está en el lado izquierdo del pecho en sus colores tradicionales, con el logo de Nike en negro en el lado derecho. 
            El patrocinio de Postobón aparece en el centro, también en negro, mientras que las mangas verdes llevan el logo de Suzuki en blanco.</p>
        <br>
        </div>

    
        <div style="width: 48%;">
        <h2>Camiseta de Visitante</h2>
        <img src="img/Screenshot 2024-08-21 165517.png" alt="Camisa Visitante" style="width: 100%; height: auto;">
        <p>Color Principal: Negro</p>
        <br>
        <p>Diseño: La camiseta es negra con delgadas líneas verticales de color verde neón, que añaden un contraste llamativo.</p>
        <br>
        <p>Detalles: El escudo del club está en el lado izquierdo del pecho, y el logo de Nike en el lado derecho, ambos en verde neón.
             El patrocinio de Postobón se destaca en blanco en el centro de la camiseta, mientras que las mangas muestran el logo de Suzuki en blanco.</p>
        <br>
        </div>
        </aside>
    </div>
</body>
</html>